.box-card {
  display: block;
  position: relative;
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 400px;
  background-color: #f7f7f7;
  border-radius: 20px;
  overflow: hidden;

  h2 {
    margin: 0;
    padding: 8px 16px;
    font-size: 1.5rem;
    background-color: #eee;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 16px;

    li {
      position: relative;
      padding-top: 100%;
      border-radius: 10px;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      div {
        position: absolute;
        inset: auto 0 0 0;
        padding: 4px 10px;
        font-size: 1rem;
        color: var(--white);
        background-color: rgba(0, 0, 0, 0.4);
      }

      .itemInput {
        inset: auto 5px 5px 5px;
      }
    }
  }

  .buttons {
    button {
      width: 50%;
      color: var(--white);
      opacity: 0.2;
      border: none;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      &.remove-button {
        background-color: var(--red);
      }

      &.edit-button {
        background-color: var(--blue);
      }
    }
  }
}
