button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 10px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
